@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif !important;
}

/* ::selection {
  background-color: #458fff !important;
  color: #f1f5f9 !important;
} */
