@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif !important;
}

/* ::selection {
  background-color: #458fff !important;
  color: #f1f5f9 !important;
} */

::-webkit-scrollbar {
  background-color: #0f172a;
  @apply w-3;
}

::-webkit-scrollbar-track {
  background-color: #334155;
}

::-webkit-scrollbar-thumb {
  background-color: #64748b;
  @apply rounded-md;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8;
}

.walletBtn {
  background-color: #458fff !important;
  border-color: #458fff !important;
  color: #0f172a !important;
  border-radius: 0.5rem !important;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
}

.walletBtn:hover {
  background-color: transparent !important;
  color: #458fff !important;
  box-shadow: none !important;
}

.walletBtn:focus {
  box-shadow: none !important;
}

.walletBtn > button {
  background-color: #458fff !important;
  border-color: #458fff !important;
  color: #0f172a !important;
  border-radius: 0.5rem !important;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
}

.walletBtn > button:hover {
  background-color: transparent !important;
  color: #458fff !important;
  box-shadow: none !important;
}

.walletBtn > button:focus {
  box-shadow: none !important;
}
